= form_for ua, url: admin_model_item_path(:user_assignment,ua), html: { autocomplete: "off", data: { remote: true }  } do |f|
  = f.text_field :grade, autocomplete: "off", id: "assignment_#{ua.id}", class: "user_grade"
  = f.submit "Save", class:'button-green smaller', data: { disable_with: "Saving" }
