.js-slides
  .panel.panel-default
    .panel-heading
      .pull-right
        .btn-group.js-view-selector{role: "group"}
          %button.btn.btn-default.btn-sm.active.js-slides{type:"button"} Slides
          %button.btn.btn-default.btn-sm.js-outline{type:"button"} Outline
          - if admin?
            %a.btn.btn-success.btn-sm{href: page_path(@page.position, editor: true)} Edit
      %h2.panel-title   
        = @page.name
      .slide-tracker
        %span.js-current-slide 1
        = "/ #{@page.content_files.length}"
        
        
      .clear
  .slides.js-slides-container
    - @page.content_files.each_with_index do |file,index|
      %article.slide{data: { slide: index }}
        ~ file.body_html.html_safe


  :javascript
    LessonSlides.init();
