- if (@edit_course && admin?) || @page.page_type == "editor"
  = render partial: "editor"
- elsif @page.page_type == "slide"
  = render partial: "slides"
- elsif @page.page_type == "quiz"
  = render partial: "quiz"
